<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FoodTruck RootPage</title>
    <!--<link rel="stylesheet" type="text/css" href="styles.css"> -->
</head>
<body>
    <header>
        <h1>{{headerTitle}}</h1>
        <nav>
            <div>
                <form method="POST">
                    <label for "fname"> Username </label><br>
                    <input type="text" id = "fname" name="fname" /><br>
                    <label for "fpwd"> Password </label><br>
                    <input type="text" name="fpwd" /><br>
                    <input type="submit" value = {{headerTitle}} />
                </form>
                {% if register == True%} <!-- Only show if on LoginPage-->
                    <a href = "/register">doesn't have an accout? register here</a>
                {% endif%}
                
            </div>
        </nav>
    </header>

    <main>
        <h2>Main Content Heading</h2>
        <p>This is the main content of your page.</p>
    </main>

    <footer>
        <p>&copy; 2023 Your Website Name</p>
    </footer>
</body>
</html>
