<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Edit FoodTruck</title>
</head>
<body>
    {% extends 'base.html' %} {% block Base %}
    <h2>Edit Food Truck</h2>
    <div class="add-food-form">
        {% for truck in TruckPage %}
        <form action="{{ url_for('EditTruckSubmission', FoodTruckId = truck['_id']) }}" method="POST">
            <div class="food-divs">
                <label for="FoodCartName">Food Cart Name:</label>
                <div>
                    <input type="text" name="FoodCartName" class="add-input" value="{{ truck.FoodCartName }}" required>
                </div>
            </div>

            <div class="food-divs">
                <label for="Cuisine">Cuisine:</label>
                <div>
                    <input type="text" name="Cuisine" class="add-input" value="{{ truck.Cuisine }}" required>
                </div>
            </div>

            <div class="food-divs">
                <label for="Hours">Hours:</label>
                <div>
                    <input type="text" name="Hours" class="add-input" value="{{ truck.Hours }}" required>
                </div>
            </div>

            <div class="food-divs">
                <label for="Address">Address:</label>
                <div>
                    <input type="text" name="Address" class="add-input" value="{{ truck.Address }}" required>
                </div>
            </div>

            <div class="food-divs">
                <label for="Price">Price:</label>
                <div>
                    <select name="Price" id="price" required>
                    <option value=""></option>
                    <option value="$" {% if truck.Price == '$' %} selected {% endif %}>$</option>
                    <option value="$$" {% if truck.Price == '$$' %} selected {% endif %} >$$</option>
                    <option value="$$$" {% if truck.Price == '$$$' %} selected {% endif %}>$$$</option>
                    </select>
                </div>
            </div>

            <div class="food-divs">
                <label for="Vegan">is there vegan/vegetarian options:</label>
                <div>
                    <select name="Vegan" id="price" required>
                    <option value=""></option>
                    <option value="Yes" {% if truck.vegan_options == 'Yes' %} selected {% endif %} >Yes</option>
                    <option value="No" {% if truck.vegan_options == 'No' %} selected {% endif %} >No</option>
                    </select>
                </div>
            </div>

            <div class="food-divs">
                <button id="SubmitConfess" type="submit">Edit Food Truck</button>
            </div>
        </form>
        {% endfor %}
    </div>
    {% endblock %}
    
</body>
</html>