<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FoodTruck RootPage</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Welcome to FoodTruck</h1>
        <h2>{{headerTitle}}</h2>
        <nav>
            <div class="login-form">
                <form method="POST" action="{{action}}">
                    <label for="fname"> Username: </label><br>
                    <input type="text" id = "fname" name="fname" class="login-input"/><br>
                    <label for="fpwd"> Password: </label><br>
                    <input type="text" name="fpwd" class="password-input"/><br>
                    <input type="submit" value = {{headerTitle}} class="login-submit-button"/>
                    <input type="hidden" name="action" value="{% if register %}register{% else %}login{% endif %}">
                </form>
                {% if register == True%} <!-- Only show if on LoginPage-->
                    <a href = "/register">doesn't have an accout? register here</a>
                {% endif%}
                
            </div>
        </nav>
    </header>

    <footer>
        <p>&copy; 2023 Your Website Name</p>
    </footer>
</body>
</html>
