<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FoodTruck Main Page</title>
    <link rel="stylesheet"  href="/static/style.css">
    
</head> 
<body>
    {% extends 'base.html' %} {% block Base %}
        <div class="about">
            <h2 style="text-align:center">What is FoodTruck?</h2>
            <p>
                FoodTruck is our way of making the hassle of finding and trying food carts even more convenient in New York City.
                We designed this app to make it easy for any user to find, record, and locate food carts they may enjoy or are looking to try!
                Whether it be the casual user or hardcore foodies, our app has all the necessary components to make your needs satiated.
            </p>
        </div>
        {% endblock %}
    
</body>
</html>
