<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <form action="base.html">
        <input type="submit" style="float:right;" value="Logout" />
    </form>
    <header>
        <div class="header">
            <a href="rootpage.html"><h1 style="text-align:center">Welcome to FoodTruck</h1></a>
        </div>
    </header>

    <main>
        <div class="container">
            <form action="SearchCuisine.html" style="display:inline-block;">
                <input type="submit" value="Search for Cuisine" class="BaseNav"/>
            </form>
            
            <form action="ViewAllFood.html" style="display:inline-block;">
                <input type="submit" value="View all FoodTruck reviews" class="BaseNav"/>
            </form>
           
            <form action="ViewMyFood.html" style="display:inline-block;">
                <input type="submit" value="Your FoodTruck Reviews" class="BaseNav"/>
            </form>
            <form action="AddFoodTruck.html" style="display:inline-block;">
                <input type="submit" value="Add New FoodTruck Review" class="BaseNav"/>
            </form>
        </div>
    </main>
    <h2>My Food Carts</h2>
</body>
</html>